{% extends 'base.html.twig' %}

{% block title %}Nouvel utilisateur{% endblock %}

{% block body %}
    <h1>Créer un nouvel utilisateur</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_administration') }}">Retour à la liste</a>
{% endblock %}